@model GameSite.Models.Game
<head>
    <script src="~/js/jqcloud-1.0.4.min.js" type="text/javascript"></script>
    <script src="@Url.Content("https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js")" type="text/javascript"></script>
</head>
<body>

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/csgo.png" alt="CS:GO" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        Знаменитый шутер прошедший закалку временем
                        <a class="btn btn-default"> @Html.RouteLink("Читать больше", new { Controller = "Games", Action = "Content", SearchString = "Counter-Strike: Global Offensive" })</a>
                    </p>
                </div>
            </div>

        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <form asp-controller="Games" asp-action="Search" method="get">
        <p>
            Жанр:
            <select name="genres">
                <option value="null"></option>
                <option value="Шутер">Шутер</option>
                <option value="Инди">Инди</option>
                <option value="RPG">RPG</option>
                <option value="MOBA">MOBA</option>
                <option value="Стратегия">Стратегия</option>
                <option value="Battle Royal">Battle Royal</option>
            </select>
            <input type="submit" />

    </form>

    <form asp-controller="Games" asp-action="Search" method="get">
        Название: <input type="text" name="text">
        <input type="submit" />
    </form>

    <div>
        <p>
            RPG - жанр компьютерных игр, основанный на элементах игрового процесса традиционных настольных ролевых игр. В ролевой игре игрок управляет одним или несколькими персонажами, каждый из которых описан набором численных характеристик, списком способностей и умений; примерами таких характеристик могут быть хит-пойнты (англ. hit points, HP), показатели силы, ловкости, интеллекта, защиты, уклонения, уровень развития того или иного навыка и т. п.
        </p>
        <p>
            Платформеры - это жанр игр, в которых основным геймплейным элементом является путешествие по уровням, которые разбиты на множество различных платформ. А вот наполнение может разниться - в каких-то играх игроков ждут только всевозможные препятствия и ловушки, а в других - еще и различные противники. Существуют как двухмерные платформеры, где игроки видят все "сбоку", так и трехмерные, где приходится гораздо тщательнее рассчитывать каждый свой шаг, чтобы не упасть и не погибнуть
        </p>
        <p>
            Шутер - это жанр видеоигр, в котором упор сделан на скорость реакции геймера и командное взаимодействие. Название происходит от английского слова shooter, что переводится как "стрелялка". Обычно действия игры происходит в 3D-пространстве, которое представляет собой лабиринт. Игрок обладает некоторой свободой действия. Двигаясь по виртуальным картам, геймер встречает друзей и врагов. Яркий представитель CS:GO
        </p>
        <p>
            Стратегическая игра — жанр компьютерных игр; игры данного жанра характеризуются тем, что игроку для достижения цели необходимо применять стратегическое мышление, и оно противопоставляется быстрым действиям и реакцией, которые, как правило, не обязательны для успеха в таких играх.Яркий представитель Stronghold, War Craft
        </p>
        <p>
            Multiplayer Online Battle Arena (MOBA) (букв. «многопользовательская онлайновая боевая арена») — жанр компьютерных игр, сочетающий в себе элементы стратегий в реальном времени и компьютерных ролевых игр и выделяющийся схожестью с DOTA
        </p>
        <p>
            Королевская битва  — один из жанров массовых многопользовательских онлайн-игр, совмещающий в себе элементы симулятора выживания с режимом последний выживший.Яркий представитель PUBG
        </p>
        <p>
            Симулятор — имитатор (обычно механический или компьютерный), задача которого состоит в имитации управления каким-либо процессом, аппаратом или транспортным средством. Яркий представитель DCS
        </p>
        <p>
            Массовая многопользовательская ролевая онлайн-игра или ММОРПГ (англ. Massively multiplayer online role-playing game, MMORPG) — компьютерная игра, в которой жанр ролевых игр совмещается с жанром массовых онлайн-игр. MMORPG могут быть представлены в том числе и в браузерном виде, однако основной чертой жанра является взаимодействие большого числа игроков в рамках виртуального мира.
        </p>
        <p>
            Слэшеры - это поджанр экшенов, который сосредоточен на составлении длинных цепочек комбо-ударов, сражениях с превосходящими силами противников а также на битвах с крайне опасными боссами. Слэшеры предлагают игрокам множество разных вариантов оружия, каждое из которых обладает своими уникальными атаками, благодаря чему подходит для разных ситуаций. Геймплей в подобных играх обычно крайне быстрый, так что игрокам нужно крайне быстро думать и реагировать на действия врагов.
        </p>
        <p>
            Аркада — жанр компьютерных игр, характеризующийся коротким по времени, но интенсивным игровым процессом
        </p>
        <p>
            Спортивные игры жанр в котором соединяются спорт и лень. Также порой к ним добавляются элементы стратегии и экономики
        </p>
    </div>
</body>